:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100dvh;
  display: grid;
  place-content: center;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  position: relative;
  display: flex;
  gap: 5px;
}

.row.active::before {
  position: absolute;
  content: "👉";
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}

.box {
  height: 50px;
  width: 50px;
  border: 1px solid light-dark(#ccc, #8e8e8e);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  user-select: none;
}
