:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f1f2f3;
}

aside {
  position: sticky;
  top: 0;
  min-height: 100vh;
  width: 300px;
  background-color: #fff;
  overflow: auto;
  padding: 1rem;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
}

.folder {
  width: 100%;
  padding: 0.15rem 0.25rem 0.15rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.25s ease;
  border-radius: 4px;
}

.folder:hover {
  background-color: #ddd;
}

.folder-name {
  flex: 1;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.folder-create {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2px;
  opacity: 0;
  transition: 0.25s ease;
}

.folder:hover .folder-create {
  opacity: 1;
}

.arrow {
  height: 14px;
}
