:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
}

form {
  margin-top: 1rem;
  width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.popper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 400px;
  overflow-y: auto;
}

.popper-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.popper-item {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: 0.25s ease;
}

.popper-item:hover {
  background-color: #f6f6f6;
}

.popper .no-item {
  padding: 0.25rem;
  color: #707070;
  font-style: italic;
}
